.millieu {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.view-mobile {
    text-decoration: none;
    background-color: orange;
    padding: 5px;
    border-radius: 9px;
    color: white
}

.hover-zoom {
    transition: all .4s ease;
}

.hover-zoom:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transform: translateY(-5px);
}

.bg-image {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .7)), url(/images/signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    color: #ffff;
}

.bg-image-login {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, .63)), url(/images/user-connected.jpg);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffff;
}



.logo {
    border: 1px solid #00000000;
    border-radius: 100%;
    box-shadow: 2px 2px 3px blue;
    border-top-color: blue;
    border-left-color: transparent;
    border-right-color: blue;
    border-bottom-color: blue;
}

#ImageAbout {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bg-orange {
    background-color: rgb(22, 55, 0);
}

#bgService {
    height: 620px;
    border-radius: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/images/about-image-8.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;

}

#bg-about {
    height: 620px;
    border-radius: 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images/afrique-du-sud-monnaie.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#bg-about img {
    position: absolute;
    width: 200px;
    height: 150px;
    left: -90px;
    bottom: 200px;
    border-radius: 10px;
}

.color-gay {
    color: rgba(0, 0, 0, 0.402);
}

.emoji {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-main {
    background-color: rgba(219, 219, 219, 0.265);
    padding: 10px;
    border-radius: 6px;
}

.div-depenses {
    box-shadow: 0 0 1px rgba(130, 130, 130, 0.525);
}

.modal-w {
    width: 100%;
    height: 50vh;
    overflow-y: auto;
}

#Grand_titre {
    font-size: 50px;
}

#en-tete {
    font-size: 50px;
}

#backGround {
    height: 250px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/login2.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.userPhoto {
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    position: absolute;
    bottom: -15px;
    margin-left: 90px;
}

.userInfos {
    width: 200px;
    height: 80px;
    position: absolute;
    bottom: 4px;
    margin-left: 200px;
}

#GraphContainer {
    height: 450px;
}

.bg-card {
    background-color: rgb(205, 117, 85);
}

@media (max-width: 768px) {

    #bg-about img {
        display: none;
    }

    #Grand_titre {
        font-size: 40px;
    }

    .view-mobile {
        background: #00000000;
        color: rgb(0, 0, 0);
        text-align: center;
        margin: 2px auto;
    }

    #nom-user {
        text-align: center;
        margin: 0 auto;
    }

    .bg-mobile-login {
        height: 100vh;
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bg-image {
        display: none;
    }

    .left-margin {
        margin-left: -8px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .lien {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1px;
        height: 90px;
    }

    .nav-div {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    #en-tete {
        font-size: 25px;
    }


    .color-white {
        color: rgb(0, 0, 0)
    }

    .userPhoto {
        width: 100px;
        height: 100px;
        border: 5px solid #000;
        position: absolute;
        margin-left: 35%;
        margin-bottom: 20%;
        border-radius: 50%;
    }

    .userInfos {
        width: 300px;
        height: 60px;
        position: absolute;
        bottom: 4px;
        margin-left: 20%;
    }

}

.t-100 {
    height: 100%;
}